.fc-daygrid-dot-event .fc-event-title {
  color: black;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 700;
  min-width: 0px;
  overflow: hidden;
}
.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  color: black;
  margin:0px 4px;
}
.fc .fc-daygrid-event-harness {
  position: relative;
  background-color: #ade1ed;
  margin-bottom: 5px;
  margin-right: 7px;
  border-radius: 5px;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  /* background-color: #ade1ed; */
  min-height: 2em;
  position: relative;
  /* margin-bottom: 10px; */
}
.fc-daygrid-event-dot {
  border-left: 1px solid var(--fc-event-border-color); /* Use border-left to create a vertical line */
  height: 10px; /* Adjust the height to make it look like a vertical line */
  /* margin: 0px 4px; */
  padding: 0;
  margin: 0;
  width: 0px; /* Set width to 0 to avoid creating a box shape */
}
